<!-- Buton Start -->
<button id="run-ipcontroller-button" class="btn btn-primary sticky-header mb-3">Ip Controller Scriptini
    Çalıştır</button>
<!-- Buton için JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#run-ipcontroller-button').click(function () {
            var $this = $(this);
            if ($this.hasClass('running')) {
                // Eğer script çalışıyorsa, butonun durumunu ve metnini güncelle
                $this.removeClass('running');
                $this.text('Ip Controller Scriptini Çalıştır');
            } else {
                // Eğer script çalışmıyorsa, butonun durumunu ve metnini güncelle
                $this.addClass('running');
                $this.text('Script Çalışıyor...');

                // AJAX isteği ile server'daki scripti çalıştır
                $.get('/run-ipcontroller', function (data) {
                    console.log(data);
                }).fail(function (error) {
                    alert('Python script error: ' + error.responseText);
                    console.log(error.responseText);
                }).always(function () {
                    // İstek tamamlandığında, butonun durumunu ve metnini güncelle
                    $this.removeClass('running');
                    $this.text('Ip Controller Scriptini Çalıştır');
                });
            }
        });
    });
</script>
<!-- Buton Finish -->