<!-- Buton Start -->
<button id="run-logcollector-button" class="btn btn-primary sticky-header mb-3">Log Collector
    Scriptini Çalıştır</button>
<!-- Buton için JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#run-logcollector-button').click(function () {
            var $this = $(this);
            if ($this.hasClass('running')) {
                // Eğer script çalışıyorsa, butonun durumunu ve metnini güncelle
                $this.removeClass('running');
                $this.text('Log Collector Scriptini Çalıştır');
            } else {
                // Eğer script çalışmıyorsa, butonun durumunu ve metnini güncelle
                $this.addClass('running');
                $this.text('Script Çalışıyor...');
            }
        });
    });
</script>
<!-- Buton Finish -->