<!-- Password Generator Start -->
<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-secondary rounded p-4">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Password Generator</h6>
            </div>
            <div class="form-group">
                <label for="length">Length:</label>
                <input type="number" id="length" name="length" min="1" max="100" value="15" class="form-control">
            </div>
            <div class="form-check">
                <input type="checkbox" id="lowercase" name="lowercase" checked class="form-check-input">
                <label for="lowercase" class="form-check-label">Include lowercase
                    letters</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="uppercase" name="uppercase" checked class="form-check-input">
                <label for="uppercase" class="form-check-label">Include uppercase
                    letters</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="numbers" name="numbers" checked class="form-check-input">
                <label for="numbers" class="form-check-label">Include numbers</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="symbols" name="symbols" checked class="form-check-input">
                <label for="symbols" class="form-check-label">Include symbols</label>
            </div>
            <button onclick="generatePassword()" class="btn btn-primary mt-3">Generate</button>
            <input type="text" id="password" readonly class="form-control mt-3">
        </div>
    </div>
</div>
<!-- Password Generator Finish -->

<!-- Modal For Password Generator -->
<div class="toast" id="copyToast" style="position: fixed; bottom: 0; right: 0; margin: 20px;" data-delay="2000">
    <div class="toast-body">
        Copied to clipboard.
    </div>
</div>
<!-- Modal For Password Generator Finish -->

<script>
    document.getElementById('length').addEventListener('keydown', function (e) {
        e.preventDefault();
    });

    function generatePassword() {
        var length = document.getElementById('length').value;
        var lowercase = document.getElementById('lowercase').checked;
        var uppercase = document.getElementById('uppercase').checked;
        var numbers = document.getElementById('numbers').checked;
        var symbols = document.getElementById('symbols').checked;

        var charset = '';
        var password = '';

        if (lowercase) charset += 'abcdefghijklmnopqrstuvwxyz';
        if (uppercase) charset += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        if (numbers) charset += '0123456789';
        if (symbols) charset += '!@#$%^&*()_+!@(/!#+=?*|}{[]:?><./-=';

        for (var i = 0, n = charset.length; i < length; ++i) {
            password += charset.charAt(Math.floor(Math.random() * n));
        }

        document.getElementById('password').value = password;
    }

    document.getElementById("password").addEventListener("click", function () {
        this.select();
        document.execCommand("copy");
        //alert("Copied the text: " + this.value);
    });

    document.getElementById("password").addEventListener("click", function () {
        if (this.value !== '') { // input alanı boş değilse
            this.select();
            document.execCommand("copy");

            var toastElement = document.getElementById("copyToast");
            var toastInstance = new bootstrap.Toast(toastElement);
            toastInstance.show();
        }
    });
</script>