{% extends "base.html" %}

{% block title %}
Add New Firewall Rule
{% endblock %}

{% block content %}

<div class="container pt-4 px-4">
    <h1>Add New Firewall Rule</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control bg-white" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control bg-white" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="action">Action:</label>
            <select class="form-control" id="action" name="action">
                <option value="ALLOW">Allow</option>
                <option value="DROP">Drop</option>
            </select>
        </div>
        <div class="form-group">
            <label for="protocol">Protocol:</label>
            <select class="form-control" id="protocol" name="protocol">
                <option value="TCP">TCP</option>
                <option value="UDP">UDP</option>
                <option value="ICMP">ICMP</option>
            </select>
        </div>
        <div class="form-group">
            <label for="source_ip">Source IP:</label>
            <input type="text" class="form-control bg-white" id="source_ip" name="source_ip">
        </div>
        <div class="form-group">
            <label for="destination_ip">Destination IP:</label>
            <input type="text" class="form-control bg-white" id="destination_ip" name="destination_ip">
        </div>
        <div class="form-group">
            <label for="source_port">Source Port:</label>
            <input type="text" class="form-control bg-white" id="source_port" name="source_port">
        </div>
        <div class="form-group">
            <label for="destination_port">Destination Port:</label>
            <input type="text" class="form-control bg-white" id="destination_port" name="destination_port">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>

        {% if error %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </form>
</div>


{% endblock %}