{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <!-- Chart Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <!-- Event Logs Start -->
      <div class="container-fluid">
        <h1>Event Logs</h1>
        <div class="row">
          {% for event_desc in event_descriptions %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body bg-dark" style="border-radius: 5px;">
                  <h5 class="card-title">Event ID: {{ event_desc.event.EventID }}</h5>
                  <p class="card-text">Source Name: {{ event_desc.event.SourceName }}</p>
                  <p class="card-text">Level: {{ event_desc.event.Level }}</p>
                  <p class="card-text">Channel: {{ event_desc.event.Channel }}</p>
                  <p class="card-text">Predicted Value: {{ event_desc.event.PredictedValue }}</p>
                  <p class="card-text">Time Generated: {{ event_desc.event.TimeGenerated }}</p>
                  {% for description in event_desc.descriptions %}
                    <p class="card-text text-truncate" data-toggle="tooltip" data-placement="top" title="{{ description.description }}">Description: {{ description.description }}</p>
                  {% empty %}
                    <p class="card-text">Description: Not found.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% empty %}
            <div class="col">
              <p>No event logs found.</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- Event Logs End -->
    </div>
  </div>
  <!-- Chart End -->

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}