{% extends "base.html" %}

{% block title %}
IP Logs
{% endblock %}

{% block content %}

{% include 'partials/_ipcontroller.html' %}

<div class="container-fluid pt-4 px-4">
    <h1 class="my-4">IP Logs</h1>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>PID</th>
                <th>Process</th>
                <th>Local IP</th>
                <th>Local Port</th>
                <th>Remote IP</th>
                <th>Remote Port</th>
                <th>Protocol</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for iplog in iplogs %}
            <tr>
                <td>{{ iplog.PID }}</td>
                <td>{{ iplog.Process }}</td>
                <td>{{ iplog.LocalIp }}</td>
                <td>{{ iplog.LocalPort }}</td>
                
                <td>
                    <!-- Add blinking dot if Remote IP is different from Local IP -->
                    {% if iplog.RemoteIp != iplog.LocalIp %}
                    <div class="blinking-dot"></div>
                    {% endif %}
                    <a href="https://www.whois.com/whois/{{ iplog.RemoteIp }}" target="_blank">{{ iplog.RemoteIp }}</a>
                </td>
                <td>{{ iplog.RemotePort }}</td>
                <td>{{ iplog.Protocol }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#processModal{{ iplog.PID }}">
                        Details
                    </button>
                </td>
            </tr>

            <!-- Modal for each IP log -->
            <div class="modal fade text-dark" id="processModal{{ iplog.PID }}" tabindex="-1"
                aria-labelledby="processModalLabel{{ iplog.PID }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="processModalLabel{{ iplog.PID }}">Process Information
                                for PID {{ iplog.PID }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="word-wrap: break-word;">
                            <p><strong>PID:</strong> {{ iplog.PID }}</p>
                            <p><strong>Process:</strong> {{ iplog.Process }}</p>
                            <p><strong>Local IP:</strong> {{ iplog.LocalIp }}</p>
                            <p><strong>Local Port:</strong> {{ iplog.LocalPort }}</p>
                            <p><strong>Remote IP:</strong> {{ iplog.RemoteIp }}</p>
                            <p><strong>Remote Port:</strong> {{ iplog.RemotePort }}</p>
                            <p><strong>Protocol:</strong> {{ iplog.Protocol }}</p>
                            <p><strong>Start Time:</strong> {{ iplog.StartTime }}</p>
                            <p><strong>Communication Protocol:</strong> {{ iplog.CommunicationProtocol }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>

<!-- Optional CSS -->
<style>
    .blinking-dot {
        background-color: red;
        display: inline-block;
        animation: blink 1s linear infinite;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

<script>
    function updateTable() {
        const url = '/get_ip_logs';
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('.table tbody');
                // Clear the table
                tableBody.innerHTML = '';
                // Add new rows
                data.forEach(iplog => {
                    let blinkingDot = '';
                    let remoteIp = iplog.RemoteIp;
                    if (iplog.RemoteIp !== iplog.LocalIp) {
                        blinkingDot = '<div class="blinking-dot"></div>';
                    }
                    if (iplog.RemoteIp !== '127.0.0.1') {
                        remoteIp = `<a href="https://www.whois.com/whois/${iplog.RemoteIp}" target="_blank">${iplog.RemoteIp}</a>`;
                    }
                    const row = tableBody.insertRow(-1);
                    row.innerHTML = `
                        <td>${iplog.PID}</td>
                        <td>${iplog.Process}</td>
                        <td>${iplog.LocalIp}</td>
                        <td>${iplog.LocalPort}</td>
                        <td>${blinkingDot} ${remoteIp}</td>
                        <td>${iplog.RemotePort}</td>
                        <td>${iplog.Protocol}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#processModal${iplog.PID}">
                                Details
                            </button>
                        </td>`;
                });
            });
    }
    
    // Call updateTable every second
    setInterval(updateTable, 1000);
</script>

{% endblock %}