{% extends "base.html" %}

{% block title %}
Event Logs
{% endblock %}

{% block content %}

{% include 'partials/_eventlog.html' %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Event Logs Start -->
        <div class="container-fluid">
            <h1 class="">Event Logs</h1>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Event ID</th>
                        <th>Source Name</th>
                        <th>Level</th>
                        <th>Channel</th>
                        <!-- <th>Message</th> -->
                        <th>Predicted Value</th>
                        <th>Time Generated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in event_logs %}
                    <tr>
                        <td>{{ event.EventID }}</td>
                        <td>{{ event.SourceName }}</td>
                        <td>{{ event.Level }}</td>
                        <td>{{ event.Channel }}</td>
                        <!-- <td>{{ event.Message }}</td> -->
                        <td>
                            {{ event.PredictedValue }}
                            {% if event.PredictedValue == 0 %}
                            <span class="badge bg-success">Safe</span>
                            {% elif event.PredictedValue >= 1 and event.PredictedValue <= 3 %} <span
                                class="badge bg-warning">Warning</span>
                                {% elif event.PredictedValue >= 4 and event.PredictedValue <= 5 %} <span
                                    class="badge bg-danger">Danger</span>
                                    {% endif %}
                        </td>
                        <td>{{ event.TimeGenerated }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No event logs found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Event Logs End -->
    </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    setInterval(function(){
        $.ajax({
            url: '/eventlog/',  // Django view'unuzun URL'si
            type: 'get',  // HTTP method
            dataType: 'json',  // Sunucudan dönen veri tipi
            success: function(data) {
                // Burada 'data' değişkeni, sunucudan dönen JSON verisidir.
                // Bu veriyi kullanarak HTML tablonuzu güncelleyebilirsiniz.
            }
        });
    }, 5000);  // Her 5 saniyede bir AJAX isteği yapılır.
});
</script> -->

{% endblock %}