{% extends "base.html" %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<!-- Chart Start -->
<div class="container-fluid pt-4 px-4">
    
    <div class="card m-2">
        <div class="card-header">
            IP Network Controller 
        </div>
        <div class="card-body">
            {% include 'partials/_ipcontroller.html' %}
        </div>
    </div>


    <!-- <div class="col m-2 p-2">
        <button type="button" class="btn btn-danger" onclick="toggleButton(this)">
            <span class="button-icon">Button 2</span>
            <i class="fas fa-times-circle"></i>
        </button>
        <p class="mt-1">This button does something.</p>
    </div>
    <div class="col m-2 p-2">
        <button type="button" class="btn btn-danger" onclick="toggleButton(this)">
            <span class="button-icon">Button 3</span>
            <i class="fas fa-times-circle"></i>
        </button>
        <p class="mt-1">This button does something.</p>
    </div>
    <div class="col m-2 p-2">
        <button type="button" class="btn btn-danger" onclick="toggleButton(this)">
            <span class="button-icon">Button 4</span>
            <i class="fas fa-times-circle"></i>
        </button>
        <p class="mt-1">This button does something.</p>
    </div> -->
</div>
<!-- Chart End -->

<script>
    // local storage for changing button color
    window.onload = function () {
        var buttons = document.querySelectorAll('.btn');
        buttons.forEach(function (button, index) {
            var isActive = localStorage.getItem('button' + index);
            if (isActive === 'true') {
                button.classList.remove('btn-danger');
                button.classList.add('btn-success');
                button.querySelector('i').classList.remove('fa-times-circle');
                button.querySelector('i').classList.add('fa-check-circle');
            }
        });
    }
</script>

{% endblock %}