{% extends "base.html" %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <!-- IPController -->
    {% include 'partials/_ipcontroller.html' %}

    <!-- Event Logs Controller -->
    {% include 'partials/_eventlog.html' %}

    <!-- File Watchdog Controller -->
    {% include 'partials/_filewatch.html' %}

    <!-- Error Logs Controller -->
    {% include 'partials/_errorlogs.html' %}

    <!-- Password Generator -->
    {% include 'partials/_passgen.html' %}
</div>

<script>
    // local storage for changing button color
    window.onload = function () {
        var buttons = document.querySelectorAll('.btn');
        buttons.forEach(function (button, index) {
            var isActive = localStorage.getItem('button' + index);
            if (isActive === 'true') {
                button.classList.remove('btn-danger');
                button.classList.add('btn-success');
                button.querySelector('i').classList.remove('fa-times-circle');
                button.querySelector('i').classList.add('fa-check-circle');
            }
        });
    }
</script>

{% endblock %}